<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Geocoding service</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="icon" href="https://files.slack.com/files-pri/T4EU2B3EE-F4GDDD396/image.png">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>
        <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      var infowindow;
      function initMap() {

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: -34.397, lng: 150.644}
        });
        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });
        infowindow = new google.maps.InfoWindow();
      }
      $( document ).ready(function() {
      

      function makeInfoWindowEvent(map, infowindow, contentString, marker) {
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(contentString);
          infowindow.open(map, marker);
        });
      }
        $( "#getall" ).click(function() {
          var url ="http://pennybite.herokuapp.com/getpost"
          try{
            $.get(url,{}, function(data){
              $("#jordan").empty();
              (data.rows).forEach(function(entry) {
                var myLatLng = new google.maps.LatLng(parseFloat(entry.latitude),parseFloat(entry.longitude));
                console.log(entry);
                var marker = new google.maps.Marker({
                  map: map,
                  position: myLatLng
                });
                var info = "<b>" + "Title: " + entry.title + "</b>" + 
                           "<b>" + " Rating: " + entry.rating + "</b>" +
                           "<b>" + " Description: " + entry.description + "</b>";
                makeInfoWindowEvent(map, infowindow, info, marker);
                // Create posting details
                var newDiv = $("<div>").text("Food Pin Entry").css("font-weight","Bold");
                for(key in entry){
                  var text = key + ": " + entry[key];
                  newDiv = newDiv.add($("<div>").text(text));
                }
                $("#jordan").append(newDiv).append($("<br>"));
                });
                
            });
          }catch(err){
            console.log(err);
          }
        });

      });

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
            sendAPI([results[0].geometry.location.lat(), results[0].geometry.location.lng()])
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
        function sendAPI(results){
            console.log(results);
            var locationparam = $('#location').val();
            var descriptionparam = $('#description').val();
            var ratingparam = $('#rating').val();
            var titleparam = $('#title').val();
            var lngparam = results[1];
            var latparam = results[0];
            var url ="http://pennybite.herokuapp.com/insertpost";
            try{
              $.get(url,
              {
                rating: ratingparam,
                name: 'McNutt',
                title: titleparam,
                description: descriptionparam,
                location: locationparam,
                lat: latparam,
                lng: lngparam,
                status: 'A',
              }, function(data){
                console.log(data);
              });
              // console.log("try to fetch subject area info for semester" + semester);
            }catch(err){
                    console.log(err);
            }
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC54yvfzQ8bEhyc5hwsHtJKE8j3fRv7Mo0&callback=initMap">
    </script>
    <div id="floating-panel">
      <input id="address" type="textbox" value="Victoria, BC">
      <input id="submit" type="button" value="Geocode">
    </div>
    <input id="title" type="text" placeholder="title"></input><br>
    <input id="location" type="text" placeholder="Enter Location"></input><br>
    <!-- <input id="name" type="text" placeholder="Pin Name"></input> -->
    <input id="description" type="text" placeholder="Description"></input><br>
    <input id="rating" type="text" placeholder="Rating"></input><br>
    <button id="getall" type"button">Get all current postings</button>
    <div id="jordan"></div>
  </body>
</html>